<div>
    <div class="row row-cols-1 row-cols-md-3">
        {% for i in short %}
            <div class="col mb-4">
                <div class="card">
                    <a href="{{ i.track_url }}"><img src="{{ i.artiste_picture }}" class="card-img-top" alt="..."></a>
                  <div class="card-body">
                      <h5 class="mt-0 mb-1"> <a href="{{ i.artist_url }}">{{ i.iter }}{{ i.artiste_name }}</a></h5>
                  </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>