{% extends 'api_spotify/base.html' %}

{% block content %}
    <br/>
    <br/>
    <section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading"><img src="https://puu.sh/G8K1C/d8a6d53411.png" width="40" height="40">Spotython</h1>
          <p class="lead text-muted">N'attendez plus le Spotify wrapped annuel et regardez vous même vos top artistes et vos musiques favorites</p>
          <p>
            <a href="{% url 'api_spotify:login' %}" class="btn btn-success">Login</a>
          </p>
        </div>
    </section>
{% endblock%}