<div>
    <ul class="list-unstyled">
        {% for i in long %}
            <li class="media">
                <a href="{{ i.track_url }}"><img id="img-track" src="{{ i.picture_url }}" class="mr-3"></a>
                <div class="media-body">
                    <h5 class="mt-0 mb-1" > <a href="{{ i.track_url }}">{{ i.iter }} {{ i.track_name }}</a></h5>
                    <h6 class="mt-0 mb-1"> <a href="{{ i.artist_url }}">{{ i.artist_name }}</a></h6>
                    <a href="{{ i.album_url }}"><h6> {{ i.album_name }} </h6></a>
                </div>
            </li>
            <br/>
        {% endfor %}
    </ul>
</div>