<div>
        <div class="row row-cols-1 row-cols-md-3">
            {% for i in medium %}
              <div class="col mb-4">
                <div class="card">
                  <img src="{{ i.picture_url }}" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h4 class="card-title" > <a href="{{ i.track_url }}">{{ i.iter }} {{ i.track_name }}</a></h4>
                      <h5> <a href="{{ i.artist_url }}">{{ i.artist_name }}</a></h5>
                      <a href="{{ i.album_url }}"><h6> {{ i.album_name }} </h6></a>
                  </div>
                </div>
              </div>
            {% endfor %}
        </div>
</div>